#header {
  background-image: url(../img/wall.png);
}

#header h1 {
  font-family: "Edu Tas Beginner", sans-serif;
  font-size: 90px;
}

#main {
  background-image: url(../img/cork.png);
}

.card {
  width: 18rem;
  padding: 10px;
  border-radius: 0;
}

.card:hover {
  scale: 1.1;
  rotate: 10deg;
}

.card-img-top {
  border-radius: 0;
}

.card-title {
  font-family: "Edu Tas Beginner", sans-serif;
}

.card-text {
  font-family: "Sometype Mono", monospace;
}

.card::before {
  content: url(../img/pin.svg);
  position: absolute;
  scale: 80%;
  left: 50%;
  top: 0;
  transform: translate(-50%, -30%);
}

#overlay {
  position: fixed;
  display: none;
  inset: 0;
  background-color: #00000050;
}

#overlay .btn {
  position: absolute;
  top: 10%;
  left: 50%;
}

#overlay img {
  position: absolute;
  left: 50%;
  scale: 0.5;
  transform: translateX(-100%);
}