#header {
  background-image: url(../img/wall.png);
}

#header h1 {
  font-family: "Edu Tas Beginner", sans-serif;
  font-size: 90px;
}

#main {
  background-image: url(../img/cork.png);
}

.card {
  width: 18rem;
  border-radius: 0;
}

.card::before {
  content: url(../img/pin.svg);
  position: absolute;
  scale: 80%;
  left: 50%;
  top: 0;
  transform: translate(-50%, -30%);
}
